/tbxmanager
/__pycache__
logs/
**/verify/*.log
venv/
**/ART/results
*.onnx
*.png
*.txt
*.odg
*.pdf
*.pt
*.py[cod]
# Log files
*.pkl
*.log
# Package files
*.jar
# JetBrains IDE
.idea/

# Demo
examples/Demo/images
